/* Estilos del header */
header {
  position: fixed;          /* Fija el header en la parte superior */
  top: 0;                   /* Asegura que el header esté siempre en la parte superior */
  left: 0;                  /* Alinea el header a la izquierda */
  width: 100%;              /* El header ocupa todo el ancho de la pantalla */
  background-color: #16a085; /* Fondo del header */
  padding: 10px 0;          /* Espaciado vertical dentro del header */
  z-index: 1000;            /* Asegura que el header se muestre encima del contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil al header */
}

nav {
  display: flex;
  justify-content: center;  /* Centra los enlaces del menú */
  gap: 20px;                /* Espacio entre los enlaces */
}

nav a, nav button {
  color: white;             /* Color del texto en blanco */
  text-decoration: none;    /* Sin subrayado en los enlaces */
  font-size: 1.2em;         /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave para el hover */
  padding: 10px 20px;       /* Espaciado dentro de los enlaces */
  border: none;             /* Sin bordes en los botones */
  background: none;         /* Sin fondo en los enlaces */
}

nav a:hover, nav button:hover {
  background-color: #1abc9c; /* Color de fondo en hover */
  cursor: pointer;           /* Muestra el cursor como puntero */
}
