body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #b3ffab, #12fff7);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #34495e;
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
    width: 100%;
    background-color: #16a085;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #1abc9c;
}

.form-container {
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group input[type="submit"],
.form-group button {
    background-color: #16a085;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover,
.form-group button:hover {
    background-color: #1abc9c;
}

.food-list {
    margin-top: 30px;
    max-width: 800px;
    width: 90%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.food-item:last-child {
    border-bottom: none;
}

.search-results {
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item button {
    background-color: #16a085;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-item button:hover {
    background-color: #1abc9c;
}

.result-image {
    width: 50px; /* Ajustar el tamaño de la imagen */
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}