body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #b3ffab, #12fff7);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #34495e;
    font-size: 2.5em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .register-container {
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 1.2em;
  }
  
  input[type="submit"] {
    background-color: #16a085;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #1abc9c;
  }
  
  .register-container p {
    margin-top: 20px;
    font-size: 1em;
  }
  
  .register-container a {
    color: #16a085;
    text-decoration: none;
  }
  
  .register-container a:hover {
    text-decoration: underline;
  }
  